<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main}">

<div layout:fragment="content" class="container-fluid">

	<div>
		<h4>Site Settings</h4>
		<hr class="solid">	
	</div>
			
	<div th:if="${message != null}" class="alert alert-success text-center">
		[[${message}]]
	</div>
	<div>
		<ul class="nav nav-tabs" id="settingTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" data-toggle="tab" href="#general" role="tab">General</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#countries" role="tab">Countries</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#states" role="tab">States</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#mailServer" role="tab">Mail Server</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#mailTemplates" role="tab">Mail Templates</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#payment" role="tab">Payment</a>
		  </li>		  		  
		</ul>
		
		<div class="tab-content">
		  <div class="tab-pane active p-3" id="general" role="tabpanel">
		  	<div th:replace="settings/general :: content"></div>
		  </div>
		  <div class="tab-pane p-3" id="countries" role="tabpanel">
			<div th:replace="settings/countries :: content"></div>
		  </div>
		  <div class="tab-pane p-3" id="states" role="tabpanel">
			<div th:replace="settings/states :: content"></div>
		  </div>
		  <div class="tab-pane p-3" id="mailServer" role="tabpanel">
			<div th:replace="settings/mail_server :: content"></div>
		  </div>
		  <div class="tab-pane p-3" id="mailTemplates" role="tabpanel">
			<div th:replace="settings/mail_templates/mail_templates :: content"></div>
		  </div>
		  <div class="tab-pane p-3" id="payment" role="tabpanel">
<!-- 			<div th:replace="settings/payment :: content"></div> -->
		  </div>		  	
		 </div>
	</div>

	<div class="toast justify-content-center d-flex" role="alert" aria-live="polite" aria-atomic="true" data-delay="3000">
	  <div role="alert" aria-live="assertive" aria-atomic="true">
	  	<div class="toast-body">
	  		<span id="toastMessage"></span>
	  	</div>
	  </div>
	</div>
	
</div>


</html>