<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main}">

<div layout:fragment="content" class="container-fluid">
	<div>
		<h2>Manage Exams</h2>


		<div class="row">
			<div
				class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
				th:replace="fragments::search_form_and_msg('/exams/page/1')"></div>
			<div class="mt-4 ml-auto">
				&nbsp;|&nbsp; <a th:href="@{/exams/new}"
					class="fas fa-folder-plus fa-2x icon-dark"></a> &nbsp;|&nbsp; <a
					th:href="@{'/exams/export/csv/'+${currentPage}+'?sortDir='+${revSortDir}+'&sortField='+${sortField}+${keyword !=null?'&keyword='+keyword:''}}"
					class="fas fa-file-csv fa-2x icon-dark"></a> &nbsp;|&nbsp;
				<!-- <a
					th:href="@{'/exams/export/excel/'+${currentPage}+'?sortDir='+${revSortDir}+'&sortField='+${sortField}+${keyword !=null?'&keyword='+keyword:''}}"
					class="fas fa-file-excel fa-2x icon-dark"></a> &nbsp;|&nbsp; <a
					th:href="@{'/exams/export/pdf/'+${currentPage}+'?sortDir='+${revSortDir}+'&sortField='+${sortField}+${keyword !=null?'&keyword='+keyword:''}}"
					class="fas fa-file-pdf fa-2x icon-dark"></a>&nbsp;|&nbsp; -->
			</div>
		</div>

		<div class="full-details">
			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="table-dark">
					<tr>
						<td>ID</td>
						<td><a class="text-white"
							th:href="@{'/exams/page/'+${currentPage}+'?sortDir='+${revSortDir}+'&sortField='+${sortField}+${keyword !=null?'&keyword='+keyword:''}}">Name
								</a> <span
							th:class="${revSortDir == 'desc'? 'fas fa-sort-down': 'fas fa-sort-up'}"></span>
						</td>
						<td>Main Exam</td>
						<td>Main Exam Type</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="exam : ${examList}">
						<td class="hideable-column">[[${exam.id}]]</td>
						<td>[[${exam.name}]]</td>
						<td>[[${exam.mainExam.name}]]</td>
						<td>[[${exam.mainExam.mainExamType.name}]]</td>
						<td>
							<div class="mt-2">
								<a class="fas fa-edit fa-2x icon-green"
									th:href="@{'/exams/edit/' +${exam.id}}"
									title="Edit exam data"></a> <a
									class="fas fa-trash-alt fa-2x icon-dark link-exam-delete"
									th:examId="${exam.id}"
									th:href="@{'/exams/delete/' + ${exam.id}}"> </a>
							</div>
							<!-- <div
								th:replace="fragments::edit('/exams/edit/'+${exam.id},'exam')"></div>
							<a class="fas fa-trash-alt fa-2x icon-dark link-exam-delete"
							th:examId="${exam.id}" th:href="@{'/exams/delete/' + ${exam.id}}">
						</a> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="less-details">
			<div th:each="exam : ${listExams}" class="row m-1">
				<!-- <div class="col-4">
					<span th:if="${exam.logo == null}"
						class="fas fa-portrait fa-3x icon-dark"></span> <img
						th:if="${exam.logo != null}" th:src="@{${exam.examImagePath}}"
						style="width: 100px;">
				</div>
				 -->
				 <div class="col-8">
					<div>[[${exam.name}]]</div>
						<div>[[${exam.mainExam.name}]]</div>
						<div>[[${exam.mainExam.mainExamType.name}]]</div>
							
					<div class="mt-2">
						<a class="fas fa-edit fa-2x icon-green"
							th:href="@{'/exams/edit/' +${exam.id}}" title="Edit exam data"></a>
						<a class="fas fa-trash-alt fa-2x icon-dark link-exam-delete"
							th:examId="${exam.id}" th:href="@{'/exams/delete/' + ${exam.id}}">
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
					<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>
				<div class="modal-footer">
					<a class="btn btn-success" id="yesButton">Yes</a>
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
				</div>

			</div>
		</div>
	</div>
	<div th:replace="fragments :: pagination('/exams','exams')"></div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
	moduleUrl = "[[@{/exams}]]"
	
	function clearSearch() {
		window.location = "[[@{/exams}]]";
	}

		
	</script>
</div>


</html>