<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" th:remove="tag">

		<div>
			<form th:action="@{/questions/assign/page/1}" class="form-inline m-3"
				id="assignedQuestionForm">
				<h5>Questions assigned to this Questions Set</h5>
				<hr class="solid">

				<input type="hidden" name="sortField" th:value="${sortField}" /> <input
					type="hidden" name="sortDir" th:value="${sortDir}" />
				Topics:&nbsp; <select class="form-control" name="atopicId"
					id="dropdownTopicAtAssignQue">
					<option value="0">All Topics</option>

					<th:block th:each="topic : ${questionSet.examLevel.topics}">
						<option th:value="${topic.id}"
							th:selected="(${atopicId} == ${topic.id})">[[${topic.name}]]</option>
					</th:block>
				</select> &nbsp;Filter:&nbsp; <input type="search" name="akeyword"
					th:value="${akeyword}" class="form-control" required />
				&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary">
					<i class="fas fa-search"></i>
				</button>
				&nbsp;&nbsp;
				<button type="button" class="btn btn-secondary"
					onclick="clearSearch()">
					<i class="fas fa-eraser"></i>
				</button>
			</form>
			<div class="mt-4 ml-auto">
				&nbsp;|&nbsp; <a th:href="@{/questions/new}"
					class="fas fa-user-plus fa-2x icon-dark"></a> &nbsp;|&nbsp; <a
					th:href="@{/questions/export/csv}"
					class="fas fa-file-csv fa-2x icon-dark"></a> &nbsp;|&nbsp; <a
					th:href="@{/questions/export/excel}"
					class="fas fa-file-excel fa-2x icon-dark"></a> &nbsp;|&nbsp; <a
					th:href="@{/questions/export/pdf}"
					class="fas fa-file-pdf fa-2x  icon-dark"></a>&nbsp;|&nbsp;
			</div>
		</div>

		<div class="full-details">
			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="table-dark">
					<tr>
						<td class="hideable-column">
							<div
								th:replace="fragments::column_link('/questions/page/','id', 'Id','tag')"></div>
						</td>
						<td>Photo</td>
						<td>
							<div
								th:replace="fragments::column_link('/questions/page/','name', 'Content','none')"></div>
						<td class="hideable-column">
							<div
								th:replace="fragments::column_link('/questions/page/','pdfName', 'PDF','none')"></div>
						</td>
						<td>
							<div
								th:replace="fragments::column_link('/questions/page/','topic', 'Topic','tag')"></div>
						</td>
						<td>Enabled</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="question : ${questionSet.questions}">
						<td class="hideable-column">[[${question.id}]]</td>
						<td></td>
						<td>[[${question.name}]]</td>
						<td><div th:if="${question.questionPdfName != null}">
								<a th:href="@{'/questions/file/'+${question.id}}"><i
									class="fas fa-solid fa-file-pdf"></i></a>
							</div></td>
						<td class="hideable-column">[[${question.topic.name}]]</td>
						<td><div
								th:replace="fragments::status('/questions/' +${question.id},'question', ${question.enabled})"></div></td>
						<td>
							<div class="mt-2" style="display: flex;">
								<div
									th:replace="fragments::edit('/questions/edit/'+ ${question.id},'question')"></div>
								&nbsp;
								<div>
									<a class="fas fa-trash-alt fa-2x icon-dark link-user-delete"
										th:userId="${question.id}"
										th:href="@{'/questions/delete/' + ${question.id}}"></a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>



		<div class="less-details">
			<hr class="solid">
			<div th:each="question : ${questionList}" class="row m-1">
				<div class="col-4"></div>
				<div class="col-8">
					<div>[[${question.name}]]</div>
					<div>[[${question.topic.name}]]</div>
					<div class="mt-2 ml-auto" style="display: flex;">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<div
							th:replace="fragments::status('/questions/' +${question.id},'question', ${question.enabled})"></div>
						&nbsp;
						<div
							th:replace="fragments::edit('/questions/edit/'+ ${question.id},'question')"></div>
						<div>
							<a class="fas fa-trash-alt fa-2x icon-dark link-user-delete"
								th:userId="${question.id}"
								th:href="@{'/questions/delete/' + ${question.id}}"></a>
						</div>
					</div>
					<hr class="solid">
				</div>

			</div>
		</div>

		<div th:replace="fragments :: pagination('/questions','Questions')"></div>

	</div>
	<div class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>
				<div class="modal-footer">
					<a class="btn btn-success" id="yesButton">Yes</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>

			</div>
		</div>

	</div>
	<script type="text/javascript">
			function clearSearch() {
				window.location = "[[@{/questions}]]";
			}
		</script>

	</div>
	<!-- /.container-fluid -->
</body>
</html>
