<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title,remove)" th:remove="${remove}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
	<title>[[${title}]]</title>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
	<div th:fragment="column_link(page, fieldName, columnLabel, removeTag)"
		th:remove="${removeTag}">
		<a class="text-white"
		th:href="@{${page} +${currentPage} + '?sortField='+${fieldName}+'&sortDir='+${revSortDir}+  ${keyword != null? '&keyword=' +keyword :''}+${categoryId != null? '&categoryId=' +categoryId:''}}">
			[[${columnLabel}]] </a> 
		<span th:if="${sortField == fieldName}" th:class="${sortDir == 'asc'? 'fas fa-sort-up': 'fas fa-sort-down'}"></span>
	</div>
	<div th:fragment="status(moduleUrl,entityName,enabled)">
		<a th:if="${enabled == true}"
			class="fas fa-check-circle fa-2x icon-green"
			th:href="@{${moduleUrl}+ '/enabled/false'}"
			title="'Disable the'+${entityName}"> </a> 
		<a
			th:if="${enabled == false}" class="fas fa-circle fa-2x icon-silver"
			th:href="@{${moduleUrl} + '/enabled/true'}"
			
			title="'Enabled the'+${entityName}"> </a>
	</div>
	<div th:fragment="assign(ent1,ent2,entityName,enabled)">
		<a th:if="${enabled == true}"
			class="fas fa-check-circle fa-2x icon-green"
			th:href="@{${ent1}+ '/assign/'+${ent2}+'/false'}"
			title="'Disable the'+${ent2}"> </a> 
		<a
			th:if="${enabled == false}" class="fas fa-circle fa-2x icon-silver"
			th:href="@{${ent1} + '/assign/'+${ent2}+'/true'}"
			
			title="'Enabled the'+${ent2}"> </a>
	</div>
	<div th:fragment="assignQset(moduleUrl,assigned)">
		<a th:if="${assigned == true}"
			class="fas fa-circle fa-2x icon-silver"
			th:href="@{${moduleUrl}+ '/true'}"
			title="Assign the Qset"> </a> 
		<a
			th:if="${assigned == false}" class="fas fa-times-circle fa-2x icon-red"
			th:href="@{${moduleUrl} + '/false'}"
			
			title="Remove the Qset"> </a>
	</div>
	<div th:fragment="edit(moduleUrl,entityName)">
		<a class="fas fa-edit fa-2x icon-green" 
		th:href="@{${moduleUrl}}"
			title="Edit this data"></a>
	</div>
	<div th:fragment="footer" class="text-center m-3">
		<p>Zoopkan Daily Control panel - Copyright &copy; Zoopkan Daily</p>
	</div>
	<a th:fragment="page_link(moduleURL, pageNum, label)" class="page-link"
		th:href="@{${moduleURL}+'/page/'+${pageNum}+'?sortField='+${sortField}+'&sortDir='+${sortDir} +  ${keyword != null? '&keyword=' +keyword :''}+${categoryId != null? '&categoryId=' +categoryId:''}}">[[${label}]]</a>

	<div th:fragment="category_actions" th:remove="tag">
		<a class="fas fa-edit fa-2x icon-green"
			th:href="@{'/categories/edit/' + ${category.id}}"
			title="Edit Category data"> </a> &nbsp;
		<th:block th:if="${category.hasChildren == false}">
			<a class="fas fa-trash fa-2x icon-dark link-category-delete"
				th:entityId="${category.id}"
				th:href="@{'/categories/delete/' + ${category.id}}"
				title="Delete this category"> </a>
		</th:block>
	</div>
	<div th:fragment="topic_actions" th:remove="tag">
		<a class="fas fa-edit fa-2x icon-green"
			th:href="@{'/topics/edit/' + ${topic.id}}"
			title="Edit Topic data"> </a> &nbsp;
		<th:block th:if="${topic.hasChildren == false}">
			<a class="fas fa-trash fa-2x icon-dark link-topic-delete"
				th:entityId="${topic.id}"
				th:href="@{'/topics/delete/' + ${topic.id}}"
				title="Delete this topic"> </a>
		</th:block>
	</div>
	<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
		<div class="text-center m1" th:if="${totalCount>0}">Showing
			[[${entityName}]] [[${startCount}]] to [[${endCount}]] of
			[[${totalCount}]]</div>
		<div class="text-center m1" th:unless="${totalCount>0}">No
			[[${entityName}]] found.</div>
		<div th:if="${totalPage > 1}">
			<nav>
				<ul class="pagination justify-content-center flex-wrap">
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments::page_link(${moduleURL}, 1, 'First')"></a>

					</li>
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a
						th:replace="fragments::page_link(${moduleURL},${currentPage-1}, 'Previous')"></a>

					</li>
					<li class="page-item"
						th:each="i : ${#numbers.sequence(1, totalPage)}"><a
						th:replace="fragments::page_link(${moduleURL},${i}, ${i})"></a></li>

					<li
						th:class="${currentPage < totalPage?'page-item':'page-item disabled'}">
						<a
						th:replace="fragments::page_link(${moduleURL},${currentPage+1}, 'Next')"></a>
					</li>
					<li
						th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled'}">
						<a
						th:replace="fragments::page_link(${moduleURL}, ${totalPage}, 'Last')"></a>

					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div th:fragment="paginationAm(moduleURL, entityName)" th:remove="tag">
		<div class="text-center m1" th:if="${amtotalCount>0}">Showing
			[[${entityName}]] [[${amstartCount}]] to [[${amendCount}]] of
			[[${amtotalCount}]]</div>
		<div class="text-center m1" th:unless="${amtotalCount>0}">No
			[[${entityName}]] found.</div>
		<div th:if="${amtotalPage > 1}">
			<nav>
				<ul class="pagination justify-content-center flex-wrap">
					<li
						th:class="${amcurrentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments::page_link(${moduleURL}, 1, 'First')"></a>

					</li>
					<li
						th:class="${amcurrentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a
						th:replace="fragments::page_link(${moduleURL},${amcurrentPage-1}, 'Previous')"></a>

					</li>
					<li class="page-item"
						th:each="i : ${#numbers.sequence(1, amtotalPage)}"><a
						th:replace="fragments::page_link(${moduleURL},${i}, ${i})"></a></li>

					<li
						th:class="${amcurrentPage < amtotalPage?'page-item':'page-item disabled'}">
						<a
						th:replace="fragments::page_link(${moduleURL},${amcurrentPage+1}, 'Next')"></a>
					</li>
					<li
						th:class="${amcurrentPage < amtotalPage ? 'page-item' : 'page-item disabled'}">
						<a
						th:replace="fragments::page_link(${moduleURL}, ${amtotalPage}, 'Last')"></a>

					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div th:fragment="search_form_and_msg(moduleURL)">
		<form th:action="@{${moduleURL}}" class="form-inline m-3">
			<input type="hidden" name="sortField" th:value="${sortField}" /> <input
				type="hidden" name="sortDir" th:value="${sortDir}" /> Filter:&nbsp;
			<input type="search" name="keyword" th:value="${keyword}"
				class="form-inline mr-auto w-128 navbar-search" required /> &nbsp;&nbsp;
			<button type="submit" value="" class="btn btn-primary">
				<i class="fas fa-search"></i>
			</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-secondary"
				onclick="clearSearch()">
				<i class="fas fa-eraser"></i>
			</button>

		</form>
		<div th:if="${message !=null}" class="alert alert-success text-center">[[${message}]]</div>
	</div>



</body>
</html>