<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main}">

<div layout:fragment="content" class="container-fluid">
	<div>
		<h4>Manage Students</h4>
		<hr class="solid">
		<div class="row">
			<div
				class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
				th:replace="fragments::search_form_and_msg('/customers/page/1')"></div>
			<div class="mt-4 ml-auto">
				&nbsp;|&nbsp; <a
					th:href="@{'/customers/export/csv/'+${currentPage}+'?sortDir='+${reverseSortDir}+'&sortField='+${sortField}+${keyword !=null?'&keyword='+keyword:''}}"
					class="fas fa-file-csv fa-2x icon-dark"></a> &nbsp;|&nbsp;
			</div>
		</div>

		<div class="full-details">
			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>
							<div
								th:replace="fragments :: column_link('/customers/page/','id', 'ID','tag')"></div>
						</th>
						<th>
							<div
								th:replace="fragments :: column_link('/customers/page/','firstName', 'First Name', 'tag')"></div>
						</th>
						<th>
							<div
								th:replace="fragments :: column_link('/customers/page/','lastName', 'Last Name', 'tag')"></div>
						</th>

						<th class="hideable-column">
						<th
							th:replace="fragments :: column_link('/customers/page/','email', 'E-mail', 'tag')"></th>
						</th>

						<th class="hideable-column">
						<th
							th:replace="fragments :: column_link('/customers/page/','city', 'City', 'tag')" />
						</th>

						<th class="hideable-column">
						<th
							th:replace="fragments :: column_link('/customers/page/','state', 'State', 'tag')" />
						</th>

						<th>
							<div
								th:replace="fragments :: column_link('/customers/page/','country', 'Country', 'none')"></div>
						</th>
						<th>
							<div
								th:replace="fragments :: column_link('/customers/page/','enabled', 'Enabled', 'none')"></div>
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer : ${listCustomers}">
						<td>[[${customer.id}]]</td>
						<td>[[${customer.firstName}]]</td>
						<td>[[${customer.lastName}]]</td>
						<td class="hideable-column">[[${customer.email}]]</td>
						<td class="hideable-column">[[${customer.city}]]</td>
						<td class="hideable-column">[[${customer.state}]]</td>
						<td>[[${customer.country.name}]]</td>
						<td>
							<div
								th:replace="fragments::status('/customers/' + ${customer.id},'customer',${customer.enabled} )"></div>
						</td>
						<td><a class="fas fa-file-alt fa-2x icon-green link-detail"
							th:href="@{'/customers/detail/' + ${customer.id}}"
							title="View details of this customer"></a> &nbsp;
							<div
								th:replace="fragments::edit('/customers/edit/'+${customer.id},'customer')"></div>
							&nbsp; <a
							class="fas fa-trash-alt fa-2x icon-dark link-customer-delete"
							th:customerId="${customer.id}"
							th:href="@{'/customers/delete/' + ${customer.id}}"> </a> </th:block></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="less-details">
		<hr class="solid">
			<div th:each="customer : ${listCustomers}" class="row m-1">
				<div class="col-4">
					<span><b>[[${customer.fullName}]]([[${customer.id}]])</b></span>
				</div>
				<div class="col-8">
					<div class="mb-1">
						<span>[[${customer.country.name}]]</span>
					</div>
					<div class="mt-2 ml-auto" style="display: flex;">
						<div th:replace="fragments::status('/customers/' + ${customer.id},'customer',${customer.enabled} )"></div>
						&nbsp;&nbsp;&nbsp;&nbsp; 
						<div
							th:replace="fragments::edit('/customers/edit/'+${customer.id},'customer')"></div>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<div>	
							<a class="fas fa-file-alt fa-2x icon-green link-detail"
								th:href="@{'/customers/detail/' + ${customer.id}}"
								title="View details of this customer"></a> 
						</div>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<div><a
							class="fas fa-trash-alt fa-2x icon-dark link-customer-delete"
							th:customerId="${customer.id}"
							th:href="@{'/customers/delete/' + ${customer.id}}"> </a>
						</div>
						
					</div>
					<hr class="solid">
				</div>
				
			</div>
			
		</div>
		
		<div th:replace="fragments :: pagination('/customers','customers')"></div>
	</div>


	<div class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>
				<div class="modal-footer">
					<a class="btn btn-success" id="yesButton">Yes</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>

			</div>
		</div>
	</div>
	<div class="modal fade" id="detailModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content"></div>
		</div>
	</div>


	<script type="text/javascript">
		function clearSearch() {
			window.location = "[[@{/customers}]]";
		}
	</script>

</div>

</html>